.edit_categoris{
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #3bb077 ;
    color: white ;
    cursor: pointer;
    margin-right: 30px;

}
.deletecategories{
    color: red;
    cursor: pointer;
}
  
.search-container {
    position: relative;
  }
  
  .search-container input[type="text"] {
    padding-left: 30px; /* Adjust this value to make space for the icon */
  }
  
  .search-container svg {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #555; /* Change this value to adjust the color of the icon */
  }


  .addsouscategories {
    background-color: #4CAF50; /* couleur de fond */
    color: white; /* couleur du texte */
    border: none; /* pas de bordure */
    padding: 100px 200px; /* espace intérieur */
    text-align: center; /* alignement du texte */
    text-decoration: none; /* pas de soulignement */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de police */
    margin: 10px; /* marge */
    cursor: pointer; /* curseur de souris */
    border-radius: 5px; /* bordure arrondie */
    transition: background-color 0.3s ease-in-out; /* transition pour la couleur de fond */
  }
  
  .addsouscategories:hover {
    background-color: #3e8e41; /* couleur de fond au survol */
  }