.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 550px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 30px 30px 30px 300px;

}

.form-group {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 58px;

}

label {
    font-weight: bold;
    height: 0px;

}

input[type="text"],
input[type="text"],
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"],
textarea
{
    padding: 14px;
    border: 1px solid #B0C4DE;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    margin-top: 10px;

    box-sizing: border-box;

}
.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    text-align: center;
    margin-top: 0px;
}